<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="AircraftDB" connectionString="Data Source=sql6033.site4now.net;Initial Catalog=db_ab32ed_aircraftdb;User ID=db_ab32ed_aircraftdb_admin;Password=m1234567;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <sessionState mode="InProc" timeout="20"/>
    <compilation debug="true"/>
  </system.web>
</configuration>